// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../styles.scss';

$config: mat-typography-config();
.sidenav-area {
	.mat-drawer {
		background-color: mat-color($app-primary);
		color: white;
	}
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	font-family: mat-font-family($config);

	h3 {
		text-align: center;
	}

	.mat-toolbar {
		flex: 0;
	}

	.mat-sidenav-container {
		flex: 1;
	}

	.filler-content {
		padding: 60px;
	}
}

mat-sidenav-content {
	padding: 1em;
}