<div class="center">
  <mat-card>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Entrez votre email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Entrez vorte mot de passe" [formControl]="password"
                 [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-card-content class="actions" align="end">
          <button mat-raised-button color="primary" type="submit" (click)="signin()">Connexion</button>
        </mat-card-content>
      </form>
    </mat-card-content>
  </mat-card>
</div>
